h1{
    font-size: 100px;
    margin-left: 30%;
    margin-right: 30%;
}

p{
    font-size: 4px;
}

#tasks{
    font-size: 40px;
    padding-bottom: 200px;
    margin-left: 35%;
    margin-right: 35%;
    display: block;
    margin-bottom: 5px;
}

#order{
    display: block;
    font-size: 175%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5px
}

#type{
    font-size: 175%;
    display: inline;
    margin-left: 41.5%;
    margin-bottom: 3%;
}

#post1{
    font-size: 150%;
    border-radius: 15px;
}